{
  "Parameters": {
    "EnableDataDog": "true",
    "DesiredCount": "1"
  },
  "Tags": {
    "Application": "hello-service",
    "Team": "TEAM"
  },
  "StackPolicy": {
    "Statement": [
      {
        "Effect": "Allow",
        "Action": "Update:*",
        "Principal": "*",
        "Resource" : "*"
      }
    ]
  }
}
